@import url(http://fonts.googleapis.com/css?family=Quicksand:300,400,700);

body {      
    font-family: 'Muli', sans-serif;
     position: relative;
  }

/* utilities */

.bg {
    background: -webkit-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(51,90,228,1) 38%, rgba(51,90,228,1) 64%);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(51,90,228,1) 38%, rgba(51,90,228,1) 64%);
}

.padding-150 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.bg-dark {
    background: #212529;
}

.bg-cloud {
   background: -webkit-linear-gradient(90deg, rgba(73,113,255,1) 0%, rgba(255,255,255,1) 100%);
    background:  linear-gradient(90deg, rgba(247,247,247,1) 82%, rgba(208,208,208,1) 100%);
}
}

.text-cloud {
    color: rgb(236, 240, 241);
}

.text-dark {
    color: #212529;
}

.h-100 {
    height: 100px;
}

.h-250 {
    height: 250px;
}

.paddingZero {
    padding: 0;
}

.padding-10 {
    padding: 10px;
}

.font-60 {
    font-size: 60px;
}
.font-70 {
    font-size: 70px;
}
.font-80 {
   font-size: 80px;
}



.bg-clear {
    background: transparent;
}


/* header */
.bg {
    background: url('img/bg-mountain-clouds.jpg') 20% 40%;
}

.bg-fixed {
    background-attachment: fixed;
}
html {
  scroll-behavior: smooth;
   font-family: 'Muli', sans-serif;
    
  
    background: #f7f7f7;
}

body {
     
    font-family: 'Muli', sans-serif;
     position: relative;
  
    background: #f7f7f7;
}
h1,h2,h3,h4,h5,h6{
    font-weight: bold;
}
ol ul {
    list-style: none;
}
img{
    max-width: 100%;
    height: auto;
}

section{
    padding: 45px 0 80px 0;}
section .heading{
    text-align: center ;
    padding-bottom: 40px;

}

section{
    padding: 45px 0 80px 0;
}





#erreur{
    background:#cf5f5f;
    border-bottom:2px solid #ad3434;
    margin-bottom:20px;
    border-radius:5px;
    font-size:.9em;
    padding:10px;
   color:#fff;
    line-height:1.3em;
    background:#cf5f5f;
    border-bottom:2px solid #ad3434;
}
#confirmation
{
    background:#5fcf80;
    border-bottom:2px solid #34ad58;
    margin-bottom:20px;
    border-radius:5px;
    font-size:.9em;
    padding:10px;
    color:#fff;
    line-height:1.3em;

}
#modification {
    margin-bottom: 30px;

}
#modification {
    margin-top : 30px;
    border-radius:7px;
    background: #fff;
    border-bottom: 2px solid #ddd;


}
#modification input,#modification button {
    margin-bottom: 10px;
}
#modification img {
    border-radius: 7px 7px 0 0 ;

}
#modification h1,article a,article p{
    margin:20px;
}
#modification h1 {
    font-weight:bold;
    color:#171026;
    
    font-size:1.1em;
    line-height:1.3em;
    text-align: left;
}
#modification p {
    color: #555;
    
    line-height: 1.4em;
}
#emloye button{
    background: #171026;
}
#modification button{
    background: #171026;
     color: white;
    }
#modification button:hover{
    background: #fff;
     color:#4F238C;

}




.bg {
    background: -webkit-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(51,90,228,1) 38%, rgba(51,90,228,1) 64%);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(51,90,228,1) 38%, rgba(51,90,228,1) 64%);
}

.h-100 {
    height: 100%!important;
}

.padding-150 {
    padding-top: 150px;
    padding-bottom: 150px;
}

.text-white {
    color:white!important;
}

.text-dark {
    color: rgba(0,0,0,.9);
}


.bg-warning {
    background: #fdcc52;
} 

.card-custom {
  overflow: hidden;
  min-height: 450px;
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
  margin-bottom: 20px;
}

.card-custom-img {
  height: 200px;
  min-height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-color: inherit;

}


.card-custom-img::after {
  position: absolute;
  content: '';
  top: 161px;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-top-width: 40px;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 545px;
  border-left-width: calc(575px - 5vw);
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: inherit;
}

.card-custom-avatar img {
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
  position: absolute;
  top: 100px;
  left: 1.25rem;
  width: 100px;
  height: 100px;